<% provide(:title, 'About') %>

<h1>About Embrence</h1>
<p>
	Embrence was inspired by the death of my wonderful mother <%= link_to('Holy Kaur Khalsa', hero_path(1)) %>.  I wanted a place online for family and friends to share memories, photos, and videos of her, and found that all of the online memorial platforms available at the time were very outdated in their functionality and design.  They weren't the kind of place I would enjoy spending time reminscing or sharing memories.  So I endeavored to build something simple and elegant that would help people to showcase the lives of their incredible loved ones and share them with the world.
</p>