<% provide(:title, 'About') %>

<h1>About Embrence</h1>
<p>
	Embrence was inspired by the death of my incredible mother <%= link_to('Holy Kaur Khalsa', ember_path(@mom)) %>.  I wanted a place online for family and friends to share memories, photos, and videos of her, and found that all of the online memorial platforms available at the time were very outdated in their functionality and design.  They weren't a place I would enjoy spending time reminiscing or sharing memories.  So I endeavored to build something simple and elegant that would help people to showcase the lives of their loved ones and share them with the world.
</p>