
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* universal */



html {
	overflow-y: scroll;
}

body {
	background-color: white;
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

img {
	vertical-align: 0;
}

a:hover, a:focus {
	text-decoration: none;
}

/* Navbar */

.nav{
	z-index: -999999
}

.nav > li > a {
	padding: 0px 15px;
	margin-top: 13px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
}

.navbar-toggle{
	background-color: #333333;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-right{
	padding-right: 15px;
}

#nav-search {
	margin-top: 3px;
	
	margin-bottom: 0px;
}

.navbar-form {
	margin-bottom: 0px;
	}

.form-control {
	height: 27px;
}

/* typography */

h1, h2, h3, h4, h5, h6 { 
	line-height: 1;
}

h1 {
font-size: 3em; letter-spacing: -2px; margin-bottom: 30px; text-align: center;
}

h2 {
font-size: 1.7em; letter-spacing: -1px; margin-bottom: 30px; text-align: center; font-weight: normal; color: #999;
}

p {
font-size: 1.1em; line-height: 1.7em;
}

/* header */

#logo {
float: left; 
margin-right: 10px; 
font-size: 1.7em;
color: #000; 
letter-spacing: -1px; 
padding-top: 11px; 
font-weight: 200; 
line-height: 1;
}

#logo:hover {
color: gray; 
text-decoration: none;
}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea; color: #999;
	a{
		color: #555;
		&:hover {
		      color: #222;
		}
	}

	small {
	    float: left;
	  }
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* Home */

.hero-unit {
	padding-bottom: 10px;
}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


/* sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid gray;
		&:first-child {
			border: 0;
	    	padding-top: 0;
    	}
		span {
			display: block;
			margin-bottom: 3px;
  			line-height: 1;
		}
		h1 {
		font-size: 1.6em;
		text-align: left;
		letter-spacing: -1px;
		margin-bottom: 3px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}


/* forms */

input, textarea, select, .uneditable-input { 
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

/* sloppy solution */

#hero_synopsis {
	height: 100px;
}

#hero_story {
	height: 150px;
}

#error_explanation {
	color: #f00;
	ul {
	list-style: none;
	margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group !optional;
	@extend .error !optional;
}


/* users index */
.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
		&:last-child {
			border-bottom: 1px solid e8e8e8;
		}
	}
}

/* posts */

.posts {
	list-style: none;
	margin: 10px 0 0 0;

	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
}

.post-content {
	display: block;
	position: relative;
}

.timestamp {
	color: gray;
}

