/* Show Page */


.hero-background {
	height: 390px;
}

.img-h3 {
	padding-bottom: 12px;

}

.hero-image {
	/*-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;*/

}

.image_wrapper {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.corner_wrapper {

	display: inline-block;
	position: relative;
	width: 105px;
	height: 60px;
	overflow: hidden;
}

.top-right{
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 6px;
    background-color: rgba(255,255,255,0.6);
    visibility: hidden;
}

.corner_wrapper:hover .top-right{
	visibility: visible;
}

.img-top-right {
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    line-height: 8px;
    background-color: rgba(255,255,255,0.6);
    visibility: hidden;
}

.image_wrapper:hover .img-top-right{
	visibility: visible;
}

.post-top-right{
	position: absolute;
	z-index: 999999;
    top: 3px;
    right: 4px;
    padding: 0;
    line-height: 10px;
    background-color: white;
    text-decoration: none;
    visibility: hidden;
}

.post-name {
	float: right;

}

.post-item:hover .post-top-right {
	visibility: visible;
	text-decoration: none;
}

/*
.post-item:hover {
	background-color:rgba(0,0,0,0.1);
}
*/

.post-user {
	float: right;
}

.video-aside a {
	text-decoration:none;
}

.video-title {
	margin-top: 15px;
	margin-bottom: 8px;
}

.video-thumb {

	min-height: 100%;
	width: 101%;
	margin-bottom: 3px;

}

.uploading-container {
	border: dotted 1px #006844;
}

.uploading-msg {
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  font-size: 12px;
  color: #006844;
  margin-top: 14px;
  margin-bottom: 0px;
  margin-left: 3em;
}

.uploading-photo-gif {
  max-height: 100%;
  max-width: 100%;
  font-size: 12px;
  color: #006844;
  margin-top: .38em;
  margin-bottom: 0px;
  margin-left: .38em;
}

.glyphicon-play{
	position: absolute;
	font-size: 20px;
	color: white;
	left: 43px;
	top: 20px;
}

.upload-buttons {
	padding-left: 10px;
}

.video-button {

}

.image-button {
	
}


img.portrait {
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 4;
	/*box-shadow: 1px 1px 10px #888888;*/
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/* border: 1px solid #e6e6e6; */
	border-radius: 5px;


}

.bubble:hover {
	cursor:pointer;
}

h1 {
	
	span{
	font-size: 12pt;
	}
}

.card-test {
	padding-top: 10px;
}

#share_form {
	border-top: 1px solid #e8e8e8;
	padding-top: 30px;
}

ol.posts {
	padding-left: 0;
}

#post_post {
	height: 100px;
}

.pagination {
	margin-top: 5px;
	text-align: center;

	a {
	padding: 0px 11px;
	line-height: 20px;
	}
}

#fancybox-title-over{
	text-align: center;
}



/* Modal */

.modal { 
  width: 100%;
  left: 0px;
  background-color: transparent; }


.modal img { min-width: none!important; }

.modal-header {
	padding: 0;
	border-bottom: 1px solid #ddd;

	.close {
	margin-top: -2px;
	padding-top: 3px;
	padding-right: 5px;
	}

	.modal-title {
	text-align: center;
	padding-top: 2px;
	padding-left: 27px;


	}
}

.modal-body {
	text-align: center;
}

.modal-footer {
	background-color: #fff;
	padding: 3px 3px 3px 0px;
	border-top: none;
}


/* Index Page */

.new-hero {
	letter-spacing: .05em;
	vertical-align: middle;
	padding-left: 12px;
}


.wrapper {
    position: relative;
    width: 184px;
    height: 184px;
}
.wrapper .heroes-listings {
    display: inline;
}


.wrapper .heroes-hover {
    opacity: 0;
    position: absolute;
    width: 184px;
    bottom: 2px;
    left: 0;
    right: 0px;
    padding: 0px 0px;
    color: #ffffff;
    background: #000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;

}
.wrapper:hover .heroes-hover {
    opacity: 0.8;
}

/* New Page */

#hero_first_name {

	width: 49%;
}

#hero_last_name {
	width: 49%;
}

#hero_birthdate_1i{
	width: 32%;
}

#hero_birthdate_2i{
	width: 39%;
}

#hero_birthdate_3i{
	width: 26%;
}

#hero_deathdate_1i{
	width: 32%;
}

#hero_deathdate_2i{
	width: 39%;
}

#hero_deathdate_3i{
	width: 26%;
}

#hero_city{
	width: 74%;
}

#hero_state{
	width: 24%;
}
